SERVICE_PORT=8089
SERVICE_NAME="url-shortener"

PUBLIC_BASE_URL="http://localhost:8089"

REDIS_HOST="localhost:6379"
REDIS_DB=0
REDIS_TLS=false
REDIS_PASSWORD="default"
REDIS_USERNAME=""

MONGODB_CONNECTION_STRING=""
MONGODB_USERNAME=""
MONGODB_PASSWORD=""
MONGODB_DATABASE_NAME="url_shortener"
MONGODB_COLLECTION_NAME="url_mappings"