SERVICE_PORT=8089
SERVICE_NAME="url-shortener"
REDIS_HOST="localhost:6379"
REDIS_DB=0
REDIS_TLS=false
REDIS_PASSWORD="default"
REDIS_USERNAME=""
MONGODB_CONNECTION_STRING=""
MONGODB_USERNAME=""
MONGODB_PASSWORD=""